


@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&family=Chivo&family=Mate&family=Pacifico&display=swap');


/**
font-family: 'Catamaran', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Mate', serif;
font-family: 'Pacifico', cursive;
**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos grales*/

body {
    background-color: rgb(28, 28, 28);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    margin: 40px;
}

/*Estilos de header*/

header {
    height: 200px;
    display: flex;
    background-color: rgb(28, 28, 28);
    text-align: right;
    justify-content: space-between;
    margin: 20px 0px 0px ;
    border-bottom: 2px solid #f5f5f5;
}

header nav ul {
    font-family: 'Chivo', sans-serif;
    margin: 0px 40px;
}

nav ul li#noselection a{
    color: #f5f5f5;
}


nav ul li#selection a{
    color: rgb(244, 211, 94);
}

header .logo {
    margin-left: 20px;
}


/*Estilos de main*/

.titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    margin-top: 40px;
    text-align: center;
}

h2.name {
    color: rgb(244, 211, 94);
    margin-bottom: 0px;
    text-align: center;
}

main section div.section2 div.foto {
    display: flex;
    justify-content: center;
}

#PageTitle {
    padding-bottom: 40px;
}

#Proyecto {
    padding-bottom: 20px;
}

.Biografia p {
    padding: 40px 10px;
    background-color: #323232;
    border: 1px solid #f5f5f5;
    margin: 60px;
    text-align: center;
    font-size: 16px;
}

h2 {
    font-family: 'Chivo', sans-serif;
    color: #f5f5f5;
    font-style: normal;
    font-size: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

p {
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 80px;
}

#carouselExampleFade {
    margin: 60px 80px;
}

/*Estilos de CV*/

#curriculum ul li {
    list-style: none;
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    text-align: left;
    margin: 5px 40px;
}

#curriculum ul {
    margin-bottom: 60px;
}

/*Contacto*/

section#contacto ul {
    margin-bottom: 80px;
}

section#contacto ul li {
    list-style: none;
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 5px 40px;
}

#contacto ul li a{
    list-style: none;
    text-decoration: underline;
    color: #f5f5f5;
}

/*Estilos de footer*/

h5 {
    font-size: 10px;
}

footer {
    background-color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
}

footer .FooterContent ul li a {
    list-style: none;
    text-decoration: underline;
    color: rgb(28, 28, 28);
}

footer .FooterContent #FooterContent{
    list-style: none;
    color: rgb(28, 28, 28);
}

footer .FooterContent ul li {
    color: rgb(28, 28, 28);
    text-align: center;
}

footer .FooterContent ul {
    padding-bottom: 40px;
}

footer section div#derechos {
    margin-top: 60px;
}

/*Media query de tablet*/

@media screen and (min-width:600px) {
    header {
        height: 100px;
        display: flex;
        background-color: rgb(28, 28, 28);
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        z-index: 5;
        text-align: center;

    }
    
    
    header nav ul {
        display: flex;
        gap: 20px;
        font-family: 'Chivo', sans-serif;
        margin-left: 40px;
        margin-right: 40px;
    }
    
    
    nav ul li#noselection a{
        color: #f5f5f5;
    }
    
    
    nav ul li#selection a{
        color: rgb(244, 211, 94);
    }
    
    
    header .logo {
        margin-left: 40px;
    }

    #section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
    }

    .subtitulo {
        text-align: end;
    }

    footer .FooterContent {
        display: flex;
        text-align: center;
        align-items: first baseline;
        justify-content: space-between;
        margin: 10px 60px;
    }
}

/*Media query de desktop*/

@media screen and (min-width: 1024px) {
    header {
        height: 100px;
        display: flex;
        background-color: rgb(28, 28, 28);
        align-items: center;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        z-index: 5;
        border: none;
    }
    
    
    header nav ul {
        display: flex;
        gap: 20px;
        font-family: 'Chivo', sans-serif;
        margin-left: 40px;
        margin-right: 40px;
    }
        
    nav ul li#noselection a{
        color: #f5f5f5;
    }
        
    nav ul li#selection a{
        color: rgb(244, 211, 94);
    }
        
    header .logo {
        margin-left: 40px;
    }

}






/*
#form {
    display: flex;
    padding: 40px;
    justify-content: center;
}

#form label{
    font-family: 'Chivo', sans-serif;
    color: #f5f5f5;
    font-style: light;
}
*/

