@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;900&family=Chivo&family=Mate&family=Pacifico&display=swap");
@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
font-family: 'Catamaran', sans-serif;
font-family: 'Chivo', sans-serif;
font-family: 'Mate', serif;
font-family: 'Pacifico', cursive;
*/
/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Estilos generales*/
body {
  background-color: #1c1c1c; }

h2 {
  font-family: 'Chivo', sans-serif;
  color: #f5f5f5;
  font-style: normal;
  font-size: 30px;
  margin: 40px; }

h5 {
  font-size: 10px; }

p {
  color: #f5f5f5;
  font-family: 'Catamaran', sans-serif;
  font-size: 14px;
  text-align: justify;
  margin: 80px; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

/*Estilos de portada*/
#Portada {
  display: none; }

/*Estilos de header*/
header {
  display: flex;
  height: 200px;
  background-color: #1c1c1c;
  text-align: right;
  justify-content: space-between;
  margin: 20px 0px 0px;
  border-bottom: 2px solid #f5f5f5; }
  header section.logo img {
    margin-left: 20px; }
  header nav ul {
    list-style: none;
    font-family: 'Chivo', sans-serif;
    margin: 0px 40px; }
    header nav ul li#noselection a {
      text-decoration: none;
      color: #f5f5f5; }
    header nav ul li#selection a {
      text-decoration: none;
      color: #f4d35e; }

header.home {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1; }

/*Estilos de main*/
main section#Bio h2, main #curriculum h2, main #RecentWorks h2, main #contacto h2, main #Proyecto1 h2, main #Proyecto2 h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f5f5; }

main section#section-container div.section1 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1; }
  main section#section-container div.section1 div.titulo {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    margin-top: 40px;
    text-align: center; }
  main section#section-container div.section1 div.subtitulo h2.name {
    color: #f4d35e;
    text-align: center;
    margin-bottom: 0px; }

main section#section-container div.section2 {
  animation-duration: 3s;
  animation-name: aparecer;
  animation-iteration-count: 1; }
  main section#section-container div.section2 div.foto {
    display: flex;
    justify-content: center; }

main section.PageTitle {
  padding-bottom: 40px; }

main section.Biografia p {
  padding: 40px 10px;
  background-color: #323232;
  border: 1px solid #f5f5f5;
  margin: 60px;
  text-align: center;
  font-size: 16px; }

main section#curriculum ul {
  margin-bottom: 60px; }
  main section#curriculum ul li {
    list-style: none;
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    text-align: left;
    margin: 5px 40px; }

main section#RecentWorks div#carouselExampleFade {
  margin: 60px 80px; }

main section#Proyecto1 {
  padding-bottom: 20px; }

main section div img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

main .IMG113, main .IMG115 {
  display: none; }

main section#IMGIV1 {
  height: 100vh; }
  main section#IMGIV1 div.sectionimg1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40%);
    height: 70vh;
    gap: 2rem;
    margin: 0px 40px; }

main section#Proyecto2 {
  padding-bottom: 20px; }

main .IMG121, main .IMG125 {
  display: none; }

main section#IMGIV2 {
  height: 100vh; }
  main section#IMGIV2 div.sectionimg2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 40%);
    height: 70vh;
    gap: 2rem;
    margin: 0px 40px; }

main section#IMGP {
  display: wrap;
  margin: 40px; }

main section#IMGP img {
  margin-bottom: 40px; }

main section#Proyecto2 {
  padding-top: 20px; }

main section#Carrouselrs1, main #Carrouselrs2 {
  display: none; }

main section#proyectors1 div#carouselExampleFade, main #proyectors2 div#carouselExampleFade {
  margin: 60px 80px; }

main section#IMGWD1, main #IMGWD2 {
  display: flex;
  justify-content: center;
  margin: 0 40px; }

main section#IMGUXR2 {
  margin: 0 40px; }

main section#contacto {
  padding-top: 20px; }

main section#contacto ul {
  margin-bottom: 80px; }
  main section#contacto ul li {
    color: #f5f5f5;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: 5px 40px; }
    main section#contacto ul li a {
      text-decoration: underline;
      color: #f5f5f5; }

/*Estilos de footer*/
footer {
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Chivo', sans-serif; }
  footer h2 {
    color: #1c1c1c; }
  footer section.FooterContent ul {
    padding-bottom: 40px; }
    footer section.FooterContent ul li {
      text-align: center; }
      footer section.FooterContent ul li a {
        text-decoration: underline;
        color: #1c1c1c; }
  footer section div#derechos {
    margin-top: 60px; }

/*MQ de tablet*/
@media screen and (min-width: 600px) {
  header {
    height: 100px;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 5;
    text-align: center; }
    header nav ul {
      display: flex;
      gap: 20px; }
    header section.logo {
      margin-left: 40px; }
  main section#section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; }
    main section#section-container div.section1 div.subtitulo h2 {
      text-align: right; }
  main section#IMGIV1 {
    height: 70vh; }
    main section#IMGIV1 div.sectionimg1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2, 50%; }
      main section#IMGIV1 div.sectionimg1 div.IMG114 {
        grid-column: span 2; }
  main section#IMGIV2 {
    height: 70vh; }
    main section#IMGIV2 div.sectionimg2 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2, 50%; }
      main section#IMGIV2 div.sectionimg2 div.IMG122 {
        grid-column: span 2; }
  main section#IMGP {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px; }
  footer section.FooterContent {
    display: flex;
    text-align: center;
    align-items: first baseline;
    justify-content: space-between;
    margin: 10px 60px; } }

/*MQ de desktop*/
@media screen and (min-width: 1024px) {
  /*estilos de portada*/
  section#Portada {
    display: block;
    height: 100vh; }
    section#Portada div.frase1 {
      display: flex;
      background-color: #f5f5f5;
      height: 100vh;
      align-items: baseline;
      justify-content: center;
      gap: 10px; }
      section#Portada div.frase1 h3 {
        font-family: 'Chivo', sans-serif;
        color: #1c1c1c;
        font-size: 70px;
        margin-top: 35vh; }
      section#Portada div.frase1 h3#art {
        color: #cf1259;
        font-family: 'Pacifico', cursive;
        font-size: 150px; }
      section#Portada div.frase1 h4 {
        font-family: 'Chivo', sans-serif;
        font-size: 25px;
        font-style: italic; }
  header {
    border: none; }
    header li:hover {
      animation-duration: 1s;
      animation-name: aparecer;
      animation-iteration-count: 1; }
  main section#IMGIV1 {
    height: 70vh; }
    main section#IMGIV1 div.IMG113, main section#IMGIV1 div.IMG115 {
      display: block; }
    main section#IMGIV1 div.sectionimg1 {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 2, 50%; }
      main section#IMGIV1 div.sectionimg1 div.IMG111 {
        grid-column: span 2;
        grid-row: span 1; }
      main section#IMGIV1 div.sectionimg1 div.IMG112 {
        grid-column: span 2;
        grid-row: span 1; }
      main section#IMGIV1 div.sectionimg1 div.IMG113 {
        grid-row: span 1; }
      main section#IMGIV1 div.sectionimg1 div.IMG114, main section#IMGIV1 div.sectionimg1 div.IMG115 {
        grid-row: span 1; }
  main section#IMGIV2 {
    height: 70vh; }
    main section#IMGIV2 div.IMG121, main section#IMGIV2 div.IMG125 {
      display: block; }
    main section#IMGIV2 div.sectionimg2 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 3, 1fr; }
      main section#IMGIV2 div.sectionimg2 div.IMG121 {
        grid-column: span 1;
        grid-row: span 1; }
      main section#IMGIV2 div.sectionimg2 div.IMG122 {
        grid-column: span 2; }
      main section#IMGIV2 div.sectionimg2 div.IMG123 {
        grid-column: span 1;
        grid-row: span 1; }
      main section#IMGIV2 div.sectionimg2 div.IMG124 {
        grid-column: span 1;
        grid-row: span 1; }
      main section#IMGIV2 div.sectionimg2 div.IMG125 {
        grid-column: span 1;
        grid-row: span 1; }
  main section#IMGP {
    display: flex; }
  main section#proyectors1 div#carouselExampleFade, main #proyectors2 div#carouselExampleFade {
    display: none; }
  main section#Carrouselrs1, main #Carrouselrs2 {
    display: flex;
    gap: 1px;
    margin: 40px; }
  main section#IMGUXR2 {
    margin: 0 120px; } }
